version: "3.8"

services:
  optimasol:
    build: .
    image: optimasol:latest
    command: service
    ports:
      - "8000:8000"
      - "1883:1883"
    volumes:
      - optimasol-data:/opt/optimasol/data
      - optimasol-backups:/opt/optimasol/backups
    restart: unless-stopped

volumes:
  optimasol-data:
  optimasol-backups:
