services:
  optimasol:
    build: .
    command: service
    ports:
      - "8000:8000"
      - "1883:1883"
    volumes:
      - optimasol-data:/opt/venv/lib/python3.11/site-packages/data
      - optimasol-backups:/opt/venv/lib/python3.11/site-packages/backups
      - mosquitto-data:/var/lib/mosquitto
      - ./config.json:/opt/venv/lib/python3.11/site-packages/config.json:ro

    restart: unless-stopped

volumes:
  optimasol-data:
  optimasol-backups:
  mosquitto-data:
